# Ignore git metadata
.git
.gitignore
# Ignore local node_modules (don't copy host modules)
node_modules

# Ignore docker files & compose files
Dockerfile
docker-compose.yml
docker-compose.dev.yml
docker-compose.prod.yml

