version: "3.8"
services:
  nginx:
    ports:
      - "80:80"
  node-docker3:
    build:
      context: .
      args:
        NODE_ENV: production
    environment:
      - NODE_ENV=production
    command: node index.js
